


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Towel{
    background:linear-gradient(brown,black);
    width:400px;
    height:600px;

}
.who{
    background-color:rgb(120, 120,120);
    width: 400px;
    height :200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;

}

.match{
    color: white;
    text-align: center;
    position: absolute;
    top: 30px;

}

.team1, .team2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img1 img, .img2 img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.Tname1, .Tname2{
    color: white;
}
.vs{
    color: #FFFAF0;
    font-weight: bold;
}


