.Towel{
    background-color: white;
    width:400px;
    height:600px;
}
.who{
    background-color:rgb(120, 120,120);
    width: 400px;
    height :300px;

}

.match{
    color: white;

}

.team1, .team2{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.img1 img, .img2 img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.Tname1, .Tname2{
    color: white;
}
.vs{
    color: #FFFAF0;
    font-weight: bold;
}


